# macOS Finder metadata
.DS_Store

# Windows Explorer thumbnail cache
Thumbs.db

# Logs
*.log

# Node.js dependencies
node_modules/

# Debug log files
npm-debug.log*

# Python compiled files
__pycache__/
*.py[cod]

# Python virtual environments
env/
venv/

# Vim swap files
*.swp

# Backup files
*.bak
